#region
int sum = 0;
for (int i = 1; i <= 100; i++)
{
    if (i % 2 == 0)
    {
        sum += i;
    }
}
Console.WriteLine(sum);
#endregion

#region
int n = 555;
int count = 0;
while(n>0)
{
    n /= 10;
    count++;
}
Console.WriteLine(count);
#endregion

#region
int eded = 32;
if (eded <= 0)
{
    Console.WriteLine("2 quvveti deyil");
}
else
{
    while (eded % 2 == 0)
    {
        eded /= 2; 
    }
    if (eded == 1)
    {
        Console.WriteLine("2 quvvetidir");
    }
    else
    {
        Console.WriteLine("2 quvveti deyil");
    }
}
#endregion

#region
int say = 0;
int M = 66;
for(int i=1; i<=M; i++)
{
    if (i % 3 == 0)
    {
        say += 1;
    }
}
Console.WriteLine(say);
#endregion

#region
int j = 6;
for(int i=1; i<j; i++)
{
    if( j%i==0)
    {
        Console.WriteLine(i);
    }
}
#endregion

#region
int x = 35;
int y = 5;
bool tapildi = false;
for (int i = x; i >= 0; i--)
{
    if (i % y == 0)
    {
        Console.WriteLine(i);
        tapildi = true;
        break; 
    }
}
if (!tapildi)
{
    Console.WriteLine(-1);
}
#endregion

#region
int X = 50;
int Y = 40;
int Z = 20;
if (X <= Y && X <= Z)
{
    Console.WriteLine(Y + Z);
}
else if (Y <= X && Y <= Z)
{
    Console.WriteLine(X + Z);
}
else
{
    Console.WriteLine(X + Y);
}
#endregion

#region
int A = 10;
int B = 12;
int C = 5;
if (A < B && A > C)
{
    Console.WriteLine(B); 
}
else if (B < A && B < C)
{
    Console.WriteLine(B); 
}
else
{
    Console.WriteLine(C); 
}
#endregion
